<div class="row">
    <div class="col-md-12 col-xs-12">
            <h1>{{recipe.name}}</h1>
    </div>
</div>
<div class="row">
    <div class="col-md-12 col-xs-12">
        <img src="{{recipe.imagePath}}" alt="" class="img-responsive">
    </div>
</div>
    <div class="row">
        <div class="col-md-12 col-xs-12">
            <div class="btn-group">
                <button class="btn btn-success dropdown-toggle"id="dropdownMenuButton"data-toggle="dropdown"aria-haspopup="true" aria-expanded="false">
                    Manage <span class="caret"></span>
                </button>
                <a class="dropdown-item" (click)="toShopping()">To Shopping List</a>
                <ul class="dropdown-menu"aria-labelledby="dropdownMenuButton">
                    <li><a class="dropdown-item" (click)="toShopping()">To Shopping List</a></li>
                    <li><a class="dropdown-item" href="#">Edit </a></li>
                    <li><a class="dropdown-item" href="#">Delete</a></li>
                </ul>
            </div>
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Dropdown button
                </button>
        </div>
    </div>
   <div class="row">
       <div class="col-md-12 col-xs-12">
           <p>{{recipe.description}}</p>
       </div>
   </div>
   <div class="row">
       <div class="col-md-12 col-xs-12" *ngFor="let ingredient of recipe.ingredient">
           <p>{{ingredient.name}} - {{ingredient.amount}}</p>
       </div>
   </div>