<div class="row">
    <div class="col-md-12">
        <form>
            <div class="row">
                <div class="col-sm-5">
                    <div class="form-group">
                        <label for="Name">Name:</label>
                        <input type="text" id="Name" class="form-control">
                    </div>  
                </div>
                <div class="col-sm-2">
                    <div class="form-group">
                        <label for="Name">Amount:</label>
                        <input type="number" id="Name" class="form-control">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 ">
                    <button class="btn btn-success mr-2 ml-3" type="submit" >Add</button>
                    <button class="btn btn-danger mr-2" type="button">Delete</button>
                    <button class="btn btn-primary" type="button">Clear</button>
                </div>
            </div>
        </form> 
    </div>
</div>
